<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{this.id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{/if}}
	</button>
	{{!-- <button class="delete" data-id="{{this.id}}">DELETE</button> --}}
</li>